@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-bg-color: #280E37;
  --secondary-bg-color: #F1F1F1;
  --title-primary-color: #FF9900;
  --title-secondary-color: #6414D2;
  --font-color-black: #293B55;
  --font-color-white: #9AA3B7;
  --text-font-size: 13px;
  --max-container-width: 1050px;
}