@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body{
  overflow: hidden;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  list-style: 0;
}

:root {
  /* colors */
  --primary-bg-color: #280E37;
  --secondary-bg-color: #F1F1F1;
  --title-primary-color: #FF9900;
  --button-bg-color: #EDEFF2;

  /* font color */
  --font-secondary-color: #6414D2;
  --font-color-gray-700: #293B55;
  --font-color-gray-300: #9AA3B7;
  --font-color-gray-400: #6E7687;

  /* container */
  --max-container-width: 1240px;

  /* fonts size*/
  --text-font-sm: 13px;
  --text-font-base: 16px;
  --text-font-lg: 18px;
  --text-font-xl: 20px;
  --text-font-2xl: 24px;
  --text-font-3xl: 30px;
  --letter-space: .5px;
}