.task__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task__controls>p {
    font-size: var(--font-size-2xl);
    color: var(--font-secondary-color);
    font-weight: 700;
    letter-spacing: .5px;
    margin-right: 2.9rem;
}

.task__filterForm {
    display: flex;
    gap: 4.4rem;
}

.task__filterForm div p {
    font-size: calc(var(--font-size-sm) + 1px);
    letter-spacing: var(--letter-space);
}

.task__filterForm div svg {
    height: 2.4rem;
    width: 2.4rem;
}

.task__filterForm>button {
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 1rem 1.2rem;
    border: none;
    border-radius: 10px;

    background-color: var(--font-secondary-color);

    color: #fff;
    font-size: var(--font-size-base);
    font-weight: 600;
    letter-spacing: .5px;

    cursor: pointer;
}

.task__filterForm>button:hover {
    background-color: var(--font-secondary-color-hover);
    box-shadow: 2px 4px 9px var(--font-secondary-color);
}

.task__filterForm button svg {
    height: 1.6rem;
    width: 1.6rem;
}

@media (max-width: 474px) {
    .task__filterForm {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 4.4rem;
    }
}