.home__main {
    background-color: var(--primary-bg-color);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home__header {
    display: flex;
    align-items: center;
    gap: 7px;

    padding: 0.7rem 2.0rem;
}

.home__logoImg {
    height: 10.4rem;
    width: 11.1rem;
}

.home__title {
    font-size: 4.0rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: var(--title-primary-color)
}

.home__section {
    width: 100%;
    max-width: var(--max-container-width);
    height: 100%;

    margin-inline: auto;
    border-radius: 15px;
    padding: 4.0rem;

    background-color: var(--secondary-bg-color);
}