.containerStatus {
    background-color: #fff;

    width: 100%;
    max-width: 445px;

    height: auto;


    padding: 1.6rem;
    border-radius: 8px;
}

.divStatus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    min-width: 95px;
    padding: 8px 1px;

    text-align: center;
    cursor: pointer;
}

.contentStatus:hover {
    background-color: #dfdfdf;
}

.contentStatus div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border-radius: 99px;
}


.contentStatus div svg {
    height: 23px;
    width: 23px;
    fill: #fff;
}

.contentStatus:nth-child(1) div {
    background-color: #19F214;
}

.contentStatus:nth-child(2) div {
    background-color: #EEF214;
}

.contentStatus:nth-child(3) div {
    background-color: #14A2F2;
}

.contentStatus:nth-child(4) div {
    background-color: #8C3EF0;
}

.contentStatus p {
    font-size: var(--text-font-sm);
    color: var(--font-color-gray-400);
    font-weight: 600;
    letter-spacing: .5px;
}

.contentStatus span {
    font-size: var(--text-font-3xl);
    font-weight: 600;
    color: var(--font-color-gray-700)
}